* {
  margin: 0;
  box-sizing: border-box;
}

.menu {
  background: rgb(255, 255, 220);
  min-height: 600px;
  font-family: "Courgette", cursive;
}

.menu-title {
  padding: 32px 0 0 0;
  text-align: center;
  font-size: 28px;
}
.menu-buttons {
  margin: 8px 0;
}

.menu-buttons--left,
.menu-buttons--right {
  position: absolute;
  z-index: 100;
  background: transparent;
  border: none;
  font-size: 24px;
  text-align: center;
  color: #30b7c0;
}

.menu-buttons--left {
  left: 35%;
  color: gray;
}

.menu-buttons--right {
  right: 35%;
  color: #30b7c0;
}
