* {
    margin: 0;
    box-sizing: border-box;
}

.menu {
    background: rgba(229, 229, 229, 25%); 
    min-height: 600px;
}

.menu-title {
    padding: 16px 0 0 0;
    text-align: center;
    font-size: 28px;
}
.menu-buttons {
    margin: 8px 0;
    /* position: relative; */
}

.menu-buttons--left, .menu-buttons--right{
    position: absolute;
    background: transparent;
    border: none;
    font-size: 24px;
    text-align: center;
    color: #30B7C0;
}

.menu-buttons--left {
    left: 35%;
    color: gray;
}

.menu-buttons--right {
    right: 35%;
    color: #30B7C0
}