@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap");

.blog-container {
  display: flex;
  flex-flow: column nowrap;
  padding: 32px 0;
  background: rgba(251, 251, 166, 0.35);
}

.first-blog {
  display: flex;
  flex-flow: column nowrap;
}

.blog-image {
  display: flex;
  justify-content: center;
}

.blog-image--image {
  max-width: 75%;
}

.blog-content {
  margin-top: 16px;
  font-family: "Courgette", cursive;
}

.blog-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.blog-content--content {
  margin: 12px auto;
  max-width: 75%;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.blog-content--content span a {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #1faf3f;
  text-decoration: none;
}

/*Desktop Screen*/
@media (min-width: 992px) {
  .first-blog {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
  }

  .second-blog {
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: center;
    justify-content: space-evenly;
  }

  .blog-content {
    max-width: 400px;
    text-align: left;
  }

  .blog-title {
    font-size: 26px;
  }

  .blog-content--content {
    font-size: 22px;
  }

  .blog-content--content span a {
    font-size: 22px;
  }

  .blog-content--content span a:hover {
    color: #0f6822;
  }
}
