* {
  margin: 0;
  box-sizing: border-box;
}

.hero-section {
  min-height: 400px;
  background-color: rgb(255, 255, 240);
  font-family: "Courgette", cursive;
}

.hero-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 16px 0 0 0;
}

.hero-image img {
  width: 100%;
  align-self: center;
}

.hero-title {
  padding: 0 12px;
  color: #af764c;
  font-size: 32px;
  max-width: 300px;
  margin: 12px 0;
  text-align: center;
}

.hero-title span {
  color: #3f1f01;
}

.hero-title--info {
  display: none;
}

.hero-button {
  display: block;
  background-color: rgb(240, 235, 210);
  font-family: "Montserrat", sans-serif;

  
  padding: 8px 24px;
  margin: 16px auto;
  width: 80%;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
}

.hero-button > a {
  color: #af764c;
  text-decoration: none;
  text-align: center;
}

/*Mobile Landscape screen*/
@media (min-width: 480px) {
  .hero-image img {
    width: 100%;
  }

  .hero-title {
    font-size: 32px;
  }
}

/*Desktop Screen*/
@media (min-width: 992px) {
  .hero-container {
    flex-flow: row nowrap;
  }

  .hero-title {
    font-size: 54px;
    max-width: 400px;
  }

  .hero-title--info {
    display: block;
    font-size: 14px;
    margin: 8px 0 16px 0;
  }

  .hero-button {
    width: 400px;
    padding: 12px 12px;
    font-size: 22px;
    border-radius: 10px;
  }

  .hero-button:hover {
    background: #3f1f01;
    color: #fff;
    transition: all 1s ease;
  }
}
