.order-menu-container {
  padding: 60px 0;
}

.order-menu-title {
  margin: 16px 0 4px 0;
  text-align: center;
  font-family: "Courgette", cursive;
  font-size: 24px;
}

/*Tablet screen*/
@media (min-width: 768px) {
  .recommended-items {
    display: grid;
    max-width: 740px;
    margin: 0 auto;
    grid-template-rows: repeat(6, auto);
    grid-template-columns: repeat(2, auto);
    grid-row-gap: 8px;
  }

  .meals-items,
  .snacks-items {
    display: grid;
    max-width: 740px;
    margin: 0 auto;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(2, auto);
    grid-row-gap: 8px;
  }

  .recommended-items .order-menu-title,
  .snacks-items .order-menu-title,
  .meals-items .order-menu-title {
    margin: 40px auto 20px auto;
    width: 500px;
    border-bottom: 0.7px solid rgba(0, 0, 0, 0.5);
    grid-column-start: 1;
    grid-column-end: span 2;
  }
}

/*Desktop Screen Size*/
@media (min-width: 992px) {
  .recommended-items {
    max-width: 85%;
    grid-gap: 24px;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: repeat(3, auto);
  }

  .meals-items,
  .snacks-items {
    max-width: 85%;
    grid-gap: 24px;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(3, auto);
  }

  .recommended-items .order-menu-title,
  .snacks-items .order-menu-title,
  .meals-items .order-menu-title {
    grid-column-start: 1;
    grid-column-end: span 3;
  }
}
