.order-menu-container {
  padding: 60px 0;
}

.order-item {
  border-bottom: 0.2px solid rgb(0, 0, 0, 0.2);
  /* border-radius: 7px; */
  padding: 12px 16px 40px 16px;
  width: 90%;
  margin: 0 auto;
}
